{% extends "base.html" %}
{% block htmltitle %}
      {% if page.meta and page.meta.title %}
        <title>{{ page.meta.title }}</title>
      {% elif page.title and not page.is_homepage %}
        <title>{{ page.title | striptags }}</title>
      {% else %}
        <title>{{ config.site_name }}</title>
      {% endif %}
{% endblock %}

{% block container %}
    <div class="md-content" data-md-component="content">
      <article class="md-content__inner md-typeset">
        {% block content %}
          {% include "partials/custom_content.html" %}
        {% endblock %}
      </article>
    </div>
{% endblock %}

{% block extrahead %}
      <!--style>.md-typeset h1,.md-content__button {display:none !important}; </style-->
      <style>.md-header__topic {font-weight:700 !important}</style>
{% endblock %}