:root > * {
    --md-tooltip-width: 600px;
    --md-code-hl-color: #ff0000;
    --md-code-hl-color--light: #ffebeb;
}

.keyword {
    color: #EE0F0F;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}